
body{
    text-align: center;

    .title{
        font-family: 't-143';
        color: rgb(36, 148, 240);
    }
    .bg{
        width: 100px;
        height: 100px;
        // background: url('../images/0-bg-m.png') no-repeat;
        // background-size: cover;
    }
}